body > header {
  background: $header-bg;

  h1 {
    font-size: 6.2m;
    display: block;
    height: 120px;
    margin: 0;
    background: transparent url(/images/logo.png) no-repeat top left;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
      margin-left: 165px;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
